# Terraform state
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Local files
*.log
*.tmp
*.swp
.DS_Store

# Sensitive / user files
*.env
*.pem

# IDEs
.vscode/
.idea/
*.code-workspace

